<h1><%= @tournament.name %></h1>
<ul>
  <li><%= @tournament.max_players %></li>
  <li><%= @tournament.address %></li>
  <li><%= @tournament.latitude %></li>
  <li><%= @tournament.longitude %></li>
</ul>
<h2><%= link_to 'Back to tournaments', root_path %></h2>