<h1><%= @tournament.name %></h1>
<ul>
  <li><%= @tournament.max_players %></li>
  <li><%= @tournament.address %></li>
  <li><%= @tournament.latitude %></li>
  <li><%= @tournament.longitude %></li>
</ul>

<h2>Planned games:</h2>

<% if can? :create, Event %>
  <ul>
    <% @tournament.events.each do |event| %>
      <li><%= event.game.title %><%= link_to "Remove", tournament_event_path(@tournament,event), method: :delete, data: { confirm: "Are you sure you wish to remove this event?"} %></li>
    <% end %>
  </ul>
  <%= render 'shared/event_form' %>
<% else %>
<ul>
    <% @tournament.events.each do |event| %>
        <li><%= event.game.title %></li>
      <% end %>
    </ul>
<% end %>

<h2><%= link_to 'Back to tournaments', root_path %></h2>